<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css-build/style.css' />
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/layui/layui.js"></script>
  </head>
  <body>

  <%include ./component/header.ejs%>

  <div class="layui-carousel" id="logo_carousel">
    <div carousel-item>
      <div class="carousel_0">
        <img src="/images/carousel_0.png">
        <div class="container">
          <h1>您和BAT之间，其实只差一个高端的网站</h1>
          <h2>逐梦科技</h2>
        </div>
      </div>
      <div>
        <img src="/images/carousel_1.png">
      </div>
      <div>
        <img src="/images/carousel_2.png">
      </div>
    </div>
  </div>
  <div class="layui-container no-end">
    简单爱，未完待续
  </div>

  <%include ./component/footer.ejs%>

  </body>
  <script>
      layui.config({
          base: "/js/"
      }).use('index');
  </script>
</html>
