<div class="nav">
    <ul class="layui-nav " lay-filter="">
        <li class="layui-nav-item" style="font-size: 25px; margin-right: 100px;">逐梦科技</li>
        <li class="layui-nav-item"><a href="">首页</a></li>
        <li class="layui-nav-item layui-this"><a href="">设计案例</a></li>
        <li class="layui-nav-item"><a href="">设计服务</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">解决方案</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">移动模块</a></dd>
                <dd><a href="">后台模版</a></dd>
                <dd><a href="">电商平台</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">关于我们</a></li>
    </ul>
</div>